button.goat-pw-reveal {
	cursor: pointer;
	outline: none;
	border-radius: 0.5rem;
	&:focus-visible {
		outline: 1px solid var(--border);
	}

	.goat-pw-visible {
		display: block;
	}

	.goat-pw-hidden {
		display: none;
	}
}
