package pages 

import (
	"scaffhold/views/layouts"
	"scaffhold/views/components"
)

templ Register() {
	@layouts.Page("register") {
		<section id="register">
			<h2>Register</h2>
			@components.Form("/register", "#register-error") {
				@components.NameInput()
				@components.EmailInput()
				@components.PasswordInput()
				<button type="submit">Submit</button>
			}
			<p id="register-error"></p>
			<a
				href="/login"
				hx-boost="true"
			>
				Login instead
			</a>
		</section>
	}
}
