package pages

import (
	"fmt"
	"bootstrap/db/models"
	"bootstrap/config"
	"bootstrap/templates/components"
)

type IndexProps struct {
	User *models.User
}

templ Index(props IndexProps) {
	@components.Head()
	<h1>{ fmt.Sprintf("Welcome to %s", config.AppName) }</h1>
	if props.User != nil {
		@components.Userinfo(props.User)
	} else {
		@components.Login()
	}
}
