package components

type PostformProps struct {
	CSRFToken string
	UserID    string
}

// hx-target-error="#post-error"
// hx-swap-error="innerHtml"
templ Postform(props PostformProps) {
	<form
		hx-post="/post"
		hx-target="#posts"
		hx-swap="beforeend"
	>
		@TitleInput()
		@ContentInput()
		@CSRFInput(props.CSRFToken)
		<button type="submit">Create post</button>
	</form>
	<p id="post-error"></p>
}
