package pages 

import (
	"scaffhold/views/layouts"
	"scaffhold/views/components"
)

templ Login() {
	@layouts.Page("login") {
		<section id="login">
			<h2>Log in</h2>
			@components.Form("/login", "#login-error") {
				@components.EmailInput()
				@components.PasswordInput()
				<button type="submit">Submit</button>
			}
			<p id="login-error"></p>
			<a
				href="/register"
				hx-boost="true"
			>
				Register instead
			</a>
		</section>
	}
}
