package components

import (
	"path/filepath"
	"github.com/peterszarvas94/goat/config"
)

templ UserScript(path string) {
	@Script(filepath.Join(config.UserScriptsDir, path))
}

templ Script(path string) {
	<script src={ path } type="module"></script>
}
