package components

import (
	"path/filepath"
	"github.com/peterszarvas94/goat/config"
)

templ UserStyle(path string) {
	@Style(filepath.Join(config.UserStylesDir, path))
}

templ Style(path string) {
	<link rel="stylesheet" href={ path }/>
}
