package components

import (
	"fmt"
)

type UserinfoProps struct {
	Name  string
	Email string
}

templ Userinfo(user UserinfoProps) {
	<section
		id="userinfo"
		style="display: flex; gap: 1rem; justify-content: center; align-items: center;"
	>
		<div>
			logged in as:
			{ fmt.Sprintf("%s (%s)", user.Name, user.Email) }
		</div>
		<button class="goat-btn" hx-post="/logout">Logout</button>
	</section>
}
