package components

import (
	"fmt"
)

type UserinfoProps struct {
	Name  string
	Email string
}

templ Userinfo(user UserinfoProps) {
	<section id="userinfo">
		<div>logged in as:</div>
		<div>{ fmt.Sprintf("%s (%s)", user.Name, user.Email) }</div>
		<button hx-post="/logout" hx-target="#userinfo" hx-swap="outerHTML">Logout</button>
	</section>
}
