package pages

import (
	"fmt"
	"scaffhold/config"
	"scaffhold/views/layouts"
)

templ Index() {
	@layouts.Page("index") {
		<h1>{ fmt.Sprintf("Welcome to %s", config.AppName) }</h1>
	}
	<button hx-post="/count" hx-target="#counter">Count</button>
	<div style="display: flex; justify-content: center; font-size: 2rem;">
		<div id="counter" hx-get="/count" hx-trigger="load"></div>
	</div>
}
