package pages

import (
	. "scaffhold/views/components"
	"github.com/peterszarvas94/goat/components"
)

templ NotFound() {
	@components.Head(components.HeadProps{
		Title:       "scaffhold 404",
		Description: "Not found",
		Author:      "Peter Szarvas",
		Keywords:    []string{"goat", "go", "templ", "htmx"},
	})
	@Page() {
		<div>404 not found :(</div>
	}
}
